:root
{
   --shadow-color: 0deg 0% 4%;
}

*,
*::before,
*::after
{
   box-sizing: border-box;
}

.game
{
   width: 1000px;
   height: 1000px;
   gap: 40px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.game-board
{
   width: 60%;
}

.board-container
{
   display: flex;
   flex-flow: column nowrap;
   box-sizing: border-box;
   border-radius: 50px;
   box-shadow: 0 4px 4px rgba(255, 255, 255, 0.3);
   margin-block: 40px;
   width: 100%;
   height: 500px;
   box-shadow: hsl(--shadow-color) 0px 2px 1px, hsl(--shadow-color) 0px 4px 2px, hsl(--shadow-color) 0px 8px 4px, hsl(--shadow-color) 0px 16px 8px, hsl(--shadow-color) 0px 32px 16px;
}

.flex
{
   display: flex;
   flex-flow: row nowrap;
}

.status
{
   /* margin-block-start: 20px; */
   text-align: center;
}

h1
{
   line-height: 1.5;
}

.subheader
{
   font-variant: small-caps;
   margin-block-end: 20px;
}

header p:not([class])
{
   color: greenyellow;
   font-weight: bold;
}

.square
{
   height: 166.6px;
   font-size: 3rem;
   font-weight: 100;
   background-color: hsl(0, 0%, 8%);
   width: 100%;
   border: 1px solid #000;
   color: #efefef;
   border-radius: 0px;
}

.square:hover
{
   box-shadow: var(--shadow-elevation-low);

}

/* ROUNDED CORNERS FOR GAME BOARD */
div.flex:first-child>.square:nth-child(1)
{
   border-top-left-radius: 50px;
}

div.flex:first-child>.square:nth-child(3)
{
   border-top-riGht-radius: 50px;
}

div.flex:last-child>.square:nth-child(1)
{
   border-bottom-left-radius: 50px;
}

div.flex:last-child>.square:nth-child(3)
{
   border-bottom-right-radius: 50px;
}

.winning-square
{
   background-color: greenYellow;
   color: #444;
   border: 1px solid #fff5a6;
   font-weight: bold;
   box-sizing: border-box;
   box-shadow:
      inset 0 0 4px rgba(205, 236, 159, 0.794),
      inset 0 0 20px 10px #e8ffc4ab;
   text-shadow:
      inset 0 0 1px black,
      0 0 4px white
}

.game-info
{
   border-radius: 50px;
   margin-block-start: 120px;
}

button.sort-button
{
   color: #000;
   font-weight: bold;
   text-align: center;
   display: block;
   padding: 10px 15px;
   margin-block-end: 40px;
   background-color: hsl(80, 61%, 50%);

}

.move-list
{
   display: flex;
   flex-flow: column nowrap;
   gap: 4px;
   width: 100%;
   padding: 8px;
   border: 1px solid black;
   border-radius: 24px;
   list-style-type: none;
}

.move-list-item p,
.move-list-item button
{
   width: 100%;
   border-radius: 0px;
   line-height: 2;
}

.move-list-item p
{
   text-align: center;
   padding-block: 8px;
}

.move-list-item:first-child button
{
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
}

.move-list-item:last-child button
{
   border-bottom-left-radius: 16px;
   border-bottom-right-radius: 16px;
}

@media all and (width < 1036px)
{
   .game
   {
      max-width: 100%;
      flex-flow: column nowrap;
      align-items: center;
   }

   .game-board
   {
      width: 60%;
   }
}

@media all and (width < 800px)
{
   .game-board
   {
      width: 100%;
   }
}

@media all and (width < 540px)
{

   .board-container,
   .game-info
   {
      width: 100%;
   }

   .board-container
   {
      height: auto;
   }

   .square
   {
      display: inline-block;
      /* height: 1rem; */
      width: 33%;
   }
}